body{
	background: #f4f4f4;
	font-size: 20px;
	line-height: 50px;

	padding: 0 ;
	margin: 0;
}
.header{
	width: 100%;
	background: #f1f1f1;
	text-align: center;
	position: fixed;
	left: 0;
	top: 0;
}

.progress{
	width: 100%;
	height: 5px;
	background: #bbb;
}
.progress-bar{
	width: 50%;
	height: 5px;
	background: forestgreen;
}

.content{
	width: 80%;
	padding: 50px 0;
	margin: 100px auto;
	background: skyblue;
}

/*@media print{*/
	/*.noprint{
		display: none;
	}*/

	/**{*/
		/*visibility: hidden;*/

	/*} */
	/*.printarea *{*/
		/*visibility: visible;*/
	/*}*/
	/*.header{*/
		/*position: static; position :absolute; ကိုဖျက်တာ*/
	/*}*/
	/*.pagebreak{*/
		/*page-break-after: always;*/	/*စာပိုဒ်ကိုတစ်ပိုဒ်ထဲထုတ်ချင်တာ*/
	/*}*/
/*}*/
/*
@page{
	/*size: portrait;*/
	/*size: landscape;*/
	/*size: auto;*/
	/*size: A4;*/
	/*size: A4 landscape;*/

	/*size: 4in 6in;*/
	/*margin: 0; */ /* remove margin*/
}
*/